body {
	background-image: url("images/pink10.gif");
	background-position: repeat;
	/*color: #708090; */
	color: #6E7274;
	font-family: Georgia, serif;
	text-align: center;
	font-size: large;
	/* line-height: 1.6em; */
}

h1, h2, h3 { font-weight: normal; }
h1 { font-size: 200%; }
h2 { font-size: 130%; }

#allContent {
	width: 840px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

#contact {
	background-color: #C0C0C0;
}

#priceList {
	background-color: #FDC5DE;
	text-align: left;
	border-color: white;
	border-style: dashed;
	border-width: 1px;
	margin: 0px 175px 0px 175px;
	padding: 10px;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

.img_banner {
	text-align: center;
	padding: 20px 4px;
}

#contact {
	padding: 0px 50px;
}

li { list-style-position: outside; }

a:link { color: #6E7274; }
a:visited { color: #F43873; }
a:hover { color: #F43873; }

/* not sure why this #header selector was here because it's blank */
#header { }
